#currentTime {
    color: rgb(110, 0, 110);
    float: right;
}

#startTime {
    background-color: rgb(110, 0, 110);
    font-size: 20px;
    padding: 10px;
    color: white;
}

#wrapper {
    padding-top: 100px;
    width: 460px;
    margin: auto;
    text-align: center;
}

#startTime:hover {
    color: lime;
    cursor: pointer;
}

#questionsDiv {
    margin: 20px;
}

#goBack {
    background-color: rgb(110, 0, 110);
    padding: 10px;
    font-size: 20px;
    color: white;
    width: auto;
    text-align: center;
    text-decoration: none;
}

#clear {
    background-color: rgb(110, 0, 110);
    margin-left: 20px;
    padding: 10px;
    font-size: 20px;
    right: 5%;
    color: white;
    text-align: center;
}

#goBack:hover {
    color: lime;
    cursor: pointer;
}

#clear:hover {
    color: lime;
    cursor: pointer;
}

button {
    border-radius: 8px;
    padding: 5px;
    margin-top: 10px;
}

textarea {
    width: 90%;
    margin: 20px;
}

#Submit {
    background-color: rgb(110, 0, 110);
    margin-left: 33%;
    padding: 10px;
    font-size: 20px;
    color: white;
}

#Submit:hover {
    color: lime;
    cursor: pointer;
}

input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

label {
    margin-right: 10px;
}

h1 {
    text-align: center;
}

#createDiv {
    margin-top: 20px;
    border-top: 2px solid lightgray;
}

li {
    background-color: rgb(110, 0, 110);
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 18px;
    width: fit-content;
    color: white;
}

#buttonBox {
    padding-top: 5px;
    border-top: solid;
    border-color: lightgrey;
}

#highScore {
    margin-left: 120px;
}
