#wrapper {
    position: absolute;
    top: 20%;
    left: 34%;
    width: 435px;
}

#currentTime {
    color: rgb(110, 0, 110);
    float: right;
}

#questionsDiv {
    margin: 20px;
}

#startTime {
    background-color: rgb(110, 0, 110);
    color: white;
    font-size: 20px;
    padding: 15px, 30px;
    margin-left: 37%;
}